WSO2_IS_ISSUER=https://localhost:9443/oauth2/token
WSO2_IS_CLIENT_ID=Q9oNFAo4fBvp7Drm3tOPNYIfL5Ua
WSO2_IS_CLIENT_SECRET=pkoo7BEJyuRmtJf0NyUHmW9YLVY2j2DMA49N1gKCPw4a
WSO2_IS_AUTH_URL=https://localhost:9443/oauth2/authorize
WSO2_IS_TOKEN_URL=https://localhost:9443/oauth2/token
WSO2_IS_LOGOUT_URL=https://localhost:9443/oidc/logout

WSO2_APIM_CLIENT_ID=OuGmJHrL0JwabsbRgLoeXVmpyy0a
WSO2_APIM_CLIENT_SECRET=wlCRBRVzq6tXQSuRwLEEWjZNsJIa
WSO2_APIM_BASE_URL=https://localhost:9453
WSO2_APIM_TOKEN_URL=https://localhost:9453/oauth2/token

APP_URL=http://localhost:3000